*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* header */
#conthead{
    width: calc(100vw - 50px);
    height: 100px;
    margin-left: 50px;
    background-color: rgba(8,11,18,255);
    display: flex;
    justify-content: end;
    align-items: center;
}
#upgrade{
border: solid white 2px;
padding: 10px;
border-radius: 50px;
margin-right: 5px;
}
#up{
    color: white;
    text-decoration: none;
}
/* nav */
#contnav{
    width: 50px;
    height: calc(100vh - 100px);
    background-color: black;
    position: fixed;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
#imn1{
    margin-left: 10px;
}
#user{
    font-size: 30px;
    color: white;
    align-self:baseline;
    margin-left:10px;
    margin-bottom: 10px;
}
.imn{
    width: 30px;
    padding-top: 10px;
}
/* main */
#contm{
    height: calc(100vh - 200px);
    width: calc(100vw - 50px);
    background-color: rgba(20,25,34,255);
    margin-left: 50px;
}
/* footer */
#container{
    width: 100%;
    height: 100px;
    background-color: rgba(40,40,40,255);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#sc1{
    width: 130px;
    display: flex;
}
#played{
    display: flex;
    flex-direction: column;
    margin-left: 5px;
}
.p1{
    color: white;
}
#ims{
    width: 60px;
    height: 60px;
}
#sc2{
    height: 100%;
    width: 50%;
    
}
.a1{
    color: white;
    font-size: 25px;
}
#sc3{
    height: 100%;
    width: 130px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#ssc2{
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    justify-content: space-evenly;
}
#heart{
    display: flex;
    flex-direction: column;
    margin-left: 5px;
    margin-top: 20px;
    
}
.a3{
    color: white;
}
#littleone{
    height: 3px;
    width: 60px;
    background-color: grey;
}
.a2{
    color: white;
    font-size:15px ;
    padding-bottom: 10px;
}
#time{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
}
#bar{
    width: 60%;
    height: 3px;
    background-color: grey;
    border-radius: 5px;
}
#sbar{
    width: 30%;
    height: 100%;
    background-color: rgb(205, 205, 205);
    border-radius: 5px;
}
.c1{
    color: white;
}